/*---------------------------------
MOBILE VARIABLES
---------------------------------*/
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;


/*---------------------------------
GENERAL
---------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

#page {
  position: relative;
	z-index: 2;
	transform: translate3d( 0, 0, 0 ); /* X, Y, Z */
 	-webkit-transform: translate3d( 0, 0, 0 );
	background-color: #FFF;
}

.entry-content {
	margin-top: 0!important;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

a {
	&:hover {
		text-decoration: none;
	}
}

.hero-btn {
	background: none;
	font-size: 18px;
	padding: 15px 25px;
	border-radius: 10px;
	border-color: $color__primary;
	color: $color__primary;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	z-index: 2;
	&.small {
		padding: 10px 20px;
	}
	&:after {
		background-color: $color__primary;
		height: 100%;
		left: -35%;
		top: 0;
		transform: skew(47deg);
		transition-duration: 0.6s;
		transform-origin: top left;
		width: 0px;
		background: $color__primary;
		content: ' ';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	&:hover:after {
		height: 100%;
		width: 135%;
	}
	&:hover {
		color: #FFF;
		border-color: $color__primary;
	}
}

@import "tables";

/*---------------------------------
FOOTER
---------------------------------*/
footer.site-footer {
		.footer-illustration {
			position: relative;
			&:after {
				content: " ";
				width: 100%;
				height: 57%;
				display: block;
				position: absolute;
				bottom: 0;
				background-color: #58595b;
				z-index: 5;
			}
			.skyline_background {
				background-image: url("//192.168.1.45/Stott-and-May/img/skyline_background.png");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: bottom center;
				padding-bottom: 20.5%;
				width: 100%;
				position: relative;
				z-index: 10;
			}
		}
		.footer-widgets {
			background-color: #2f444a;
	    color: #FFF;
			padding: 50px 0 26px 0;
			.widget {
				text-align: center;
				.widget-title {
					font-size: 18px;
				}
				a {
					color: #FFF;
				}
				a:hover {
					opacity: 0.75;
				}
			}
		}
}

@media (max-width: $breakpoint-xs) {
	footer.site-footer {
		.footer-widgets {
			.row > div {
				&:last-child {
					.widget {
						border-bottom: 0;
					}
				}
			}
			.widget {
				border-bottom: 1px solid #4b6269;
			}
		}
	}
}

/*---------------------------------
LIGHT PAGE VARIANT
---------------------------------*/
.light {
	.nav-container {
		.main-navigation {
			.menu {
				.menu-item {
					a {
						color: #FFF;
					}
					&.current-menu-item:after {
						background-image: url(http://192.168.1.45/Stott-and-May/img/nav-lines-white.png);
					}
				}
			}
		}
	}
	.page-header-container {
		.header-content {
			.header-title {
				color: #FFF;
				&:before {
					background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines-white.png');
				}
			}
			.header-text {
				color: #FFF;
			}
		}
	}
}

/*---------------------------------
PAGE HEADER COMPONENT
---------------------------------*/
.page-header-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
		position: relative;
    height: 100vh;
		.header-content {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			h1.header-title {
			    font-size: 48px;
					&:before {
						content: " ";
						background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
						display: block;
						height: 5px;
						width: 240px;
						margin-bottom: 25px;
					}
					&.white:before {
						background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines-white.png');
					}
			}
			.header-text {
				font-size: 18px;
			}
		}
}

$grey: #fff;

.scroll-prompt-container {
		position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 40px;
		.prompt {
			width: 30px;
			height: 50px;
			border-radius: 30px;
			border: 4px solid $grey;
			margin: auto;
			span {
				width: 6px;
				height: 10px;
				border-radius: 10px;
				background: $grey;
				margin: 7px auto 0;
				display: block;
				animation:scrollMovement ease-in-out 2s 1.5s infinite;
				-moz-animation:scrollMovement ease-in-out 2s 1.5s infinite;
				-webkit-animation:scrollMovement ease-in-out 2s 1.5s infinite;
			}
		}
}

@keyframes scrollMovement {
  from {transform: translate3d(0,0,0)}
  to {transform: translate3d(0,10px,0)}
}

@-moz-keyframes scrollMovement /* Firefox */ {
  from {transform: translate3d(0,0,0)}
  to {transform: translate3d(0,10px,0)}
}

@-webkit-keyframes scrollMovement /* Safari and Chrome */ {
  from {transform: translate3d(0,0,0)}
  to {transform: translate3d(0,10px,0)}
}

/*---------------------------------
FULLWIDTH BACKGROUND VIDEO COMPONENT
---------------------------------*/
.video-bg-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
		video#bgvid {
		    position: relative;
		    top: 50%;
		    left: 50%;
		    min-width: 100%;
		    min-height: 100%;
		    width: auto;
		    height: auto;
				object-fit: cover;
		    z-index: -100;
		    -ms-transform: translateX(-50%) translateY(-50%);
		    -moz-transform: translateX(-50%) translateY(-50%);
		    -webkit-transform: translateX(-50%) translateY(-50%);
		    transform: translateX(-50%) translateY(-50%);
		    /*background: url(polina.jpg) no-repeat;*/
		    background-size: cover;
		}
}

/*---------------------------------
ICON CAROUSEL COMPONENT
---------------------------------*/
.icon-carousel-container {
	padding: 60px 0;
	.icon-carousel-title {
		padding-bottom: 40px;
		width: 50%;
		&:before {
			content: " ";
			background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
			display: block;
			height: 5px;
			width: 240px;
			margin-bottom: 25px;
		}
	}
	.hero-btn {
		margin-top: 40px;
	}
	.owl-carousel {
		.owl-stage-outer {
			position: relative;
			.owl-item {
				.item {
					text-align: center;
					img.icon-image {
				    width: auto;
						margin: 0 auto 20px auto;
						position: relative;
						z-index: 6;
					}
					h4 {
						font-family: $font__main;
						font-size: 18px;
						font-weight: 400;
						color: #58595b;
					}
				}
			}
		}
		.owl-nav {
	    width: 100%;
			margin-top: 0!important;
			.owl-next {
				background: none!important;
				background-color: transparent!important;
				padding: 0!important;
				margin: 0!important;
		    color: #000!important;
		    width: 20px;
		    overflow: hidden;
				float: right;
	    	margin-right: 30px!important;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				&:before {
			    content: "\e606";
			    font-family: 'simple-line-icons';
			    font-size: 24px;
				}
			}
			.owl-prev {
				background: none!important;
				background-color: transparent!important;
				padding: 0!important;
				margin: 0!important;
		    color: #000!important;
		    width: 20px;
		    overflow: hidden;
				float: left;
	    	margin-left: 30px!important;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				&:before {
			    content: "\e605";
			    font-family: 'simple-line-icons';
			    font-size: 24px;
				}
			}
		}
	}
}

/*---------------------------------
BLOG POSTS COMPONENT
---------------------------------*/
.blog-posts-container {
	padding-top: 60px;
	padding-bottom: 60px;
	background-size: auto 120%;
	background-position: center right;
	background-repeat: no-repeat;
	h2.blog-posts-title {
		padding-bottom: 40px;
		width: 50%;
		&:before {
			content: " ";
			background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
			display: block;
			height: 5px;
			width: 240px;
			margin-bottom: 25px;
		}
	}
	.hero-btn {
		margin-top: 40px;
	}
	.post-container {
		width:100%;
		.blog-post {
			border-radius: 10px;
	    background-color: #F5f5f5;
			text-align: center;
			display: block;
			overflow: hidden;
			-webkit-transition: all 1s; /* Safari */
			transition: all 1s;
			&:hover {
				background-color: $color__primary;
				-webkit-transition: all 1s; /* Safari */
    		transition: all 1s;
				.blog-post-image {
					opacity: 0.75;
					-webkit-transition: all 1s; /* Safari */
	    		transition: all 1s;
				}
				.post-title {
					color: #FFF;
				}
			}
			.blog-post-image {
				height: 200px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			span {
				padding-top: 20px;
				display: block;
				color: #8c8d8f;
				&:before {
			    content: " ";
			    background-image: url('//192.168.1.45/Stott-and-May/img/category-dotted-line-left.png');
			    width: 22px;
			    height: 2px;
			    display: inline-block;
			    vertical-align: middle;
			    margin-top: -1px;
			    margin-right: 7px;
				}
				&:after {
					content: " ";
					background-image: url('//192.168.1.45/Stott-and-May/img/category-dotted-line-right.png');
					width: 22px;
					height: 2px;
					display: inline-block;
					vertical-align: middle;
					margin-top: -1px;
					margin-left: 7px;
				}
			}
			.post-title {
				margin: 0;
				padding-bottom: 25px;
				display: block;
				color: #000000;
			}
		}
	}
}

@media (max-width: $breakpoint-sm) {
  .blog-posts-container {
		background-image: none!important;
		.blog-posts-title {
			width: 100%!important;
		}
		.post-container {
			.blog-post {
				margin-bottom: 20px;
			}
		}
		.hero-btn {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/*---------------------------------
RESOURCE DOWNLOAD COMPONENT
---------------------------------*/
.resource-download-container {
	padding-top: 60px;
	padding-bottom: 60px;
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
	h2.resource-download-title {
		padding-bottom: 40px;
		&:before {
			content: " ";
			background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
			display: block;
			height: 5px;
			width: 240px;
			margin-bottom: 25px;
		}
		&.white {
			color: #FFF;
			&:before {
				background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines-white.png');
			}
		}
	}
	.content_container {
		color: #FFF;
	}
}

/*---------------------------------
PERSON OUTLINE COMPONENT
---------------------------------*/
.person-outline-container {
	padding-top: 60px;
	h2.person-outline-title {
		padding-bottom: 40px;
		&:before {
			content: " ";
			background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
			display: block;
			height: 5px;
			width: 240px;
			margin-bottom: 25px;
		}
	}
	.content_container {
		padding-bottom: 60px;
	}
}

/*---------------------------------
BASIC TEXT COMPONENT
---------------------------------*/
.text-container {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	h2.basic-text-title {
		color: $color__primary;
		margin-bottom: 40px;
	}
}

/*---------------------------------
HEADLINE TEXT COMPONENT
---------------------------------*/
.headline-container {
	padding-top: 200px;
	padding-bottom: 200px;
	.content_container {
		color: #FFF;
		h2 {
			font-size: 48px;
		}
	}
}

@media (max-width: $breakpoint-sm) {
	.headline-container {
		padding-top: 60px;
		padding-bottom: 60px;
		.content_container {
			h2 {
				font-size: 24px;
			}
		}
	}
}

/*---------------------------------
SLIDESHOW COMPONENT
---------------------------------*/
.slideshow-container {
	padding-top: 150px;
	padding-bottom: 150px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.slideshow-title {
		padding-bottom: 20px;
		&:before {
			content: " ";
			background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
			display: block;
			height: 5px;
			width: 240px;
			margin-bottom: 25px;
		}
	}
	.content_container {

	}
}

/*---------------------------------
VIDEO LIGHTBOX COMPONENT
---------------------------------*/
.video-lb-container {
	&.short {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	&.regular {
		padding-top: 200px;
		padding-bottom: 200px;
	}
	&.tall {
		height: 100vh;
	}
	.container {
		height: 100%;
		.row {
	    height: 100%;
			.video-lb-title {
				padding-bottom: 20px;
				&:before {
					content: " ";
					background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
					display: block;
					height: 5px;
					width: 240px;
					margin-bottom: 25px;
				}
			}
		}
	}
}

/*---------------------------------
STOTTERS COMPONENT
---------------------------------*/
.stotters-container {
	padding-top: 100px;
	padding-bottom: 100px;
	.stotters-title {
		padding-bottom: 30px;
		&:before {
			content: " ";
			background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
			display: block;
			height: 5px;
			width: 240px;
			margin-bottom: 25px;
		}
	}
	.hero-btn {
		margin-top: 70px;
	}
	.post-container {
		.stotter {
			margin-bottom: 30px;
			.blog-post-image {
				border-radius: 10px;
				background-color: #F5F5F5;
				padding-top: 100%;
				width: 100%;
				display: block;
				position: relative;
				background-size: contain;
    		background-position: center bottom;
				&:hover {
					.stotter-overlay {
						opacity: 1;
						-webkit-transition: all 1s; /* Safari */
		    		transition: all 1s;
					}
				}
				.stotter-overlay {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					text-align: center;
					background-color: rgba(213, 19, 124, 0.75);
    			border-radius: 10px;
					opacity: 0;
					-webkit-transition: all 1s; /* Safari */
	    		transition: all 1s;
					.stotter-info {
						margin: 0;
						position: absolute;
						width: 100%;
						top: 50%;
						transform: translateY(-50%);
						.post-title {
							font-size: 24px;
							color: #FFF;
							font-family: "lato", sans-serif;
							font-weight: 300;
						}
						h4 {
							font-size: 16px;
							color: #FFF;
							font-family: "lato", sans-serif;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

/*---------------------------------
SLANTED IMAGE COMPONENT
---------------------------------*/
.slanted-container {
	position: relative;
	.slanted-image-container {
		position: absolute;
    height: 100%;
    width: 50%;
		&.right {
			right: 0;
			.slanted-image {
				.image {
					-webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    			clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
				}
				&:after {
					transform: scaleX(-1);
					left: -10.4%;
				}
			}
		}
		.slanted-image {
			width: 100%;
			height: 100%;
			display: block;
			overflow: hidden;
			&.blue {
				&:after {
					background-image: url('//192.168.1.45/Stott-and-May/img/dotted_line_blue.png');
				}
			}
			&.pink {
				&:after {
					background-image: url('//192.168.1.45/Stott-and-May/img/dotted_line_pink.png');
				}
			}
			&.white {
				&:after {
					background-image: url('//192.168.1.45/Stott-and-May/img/dotted_line_white.png');
				}
			}
			&:after {
				content: " ";
				background-image: url('//192.168.1.45/Stott-and-May/img/dotted_line_blue.png');
				background-position: top;
				display: block;
				width: 167px;
				height: 100%;
				position: absolute;
				left: 89.5%;
			}
			.image {
				width: 100%;
		    height: 100%;
		    position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-position: center;
	    	background-size: cover;
				-webkit-clip-path: polygon(0 0, /* left top */ 90% 0, /* right top */ 100% 100%, /* right bottom */ 0 100% /* left bottom */ );
				clip-path: polygon(0 0, /* left top */ 90% 0, /* right top */ 100% 100%, /* right bottom */ 0 100% /* left bottom */ );
			}
		}
	}
	.content-container {
		padding-top: 7.711%;
		padding-bottom: 7.711%;
		.slanted-text-title {
			padding-bottom: 30px;
			&:before {
				content: " ";
				background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines.png');
				display: block;
				height: 5px;
				width: 240px;
				margin-bottom: 25px;
			}
			&.light {
				font-weight: 700;
				color: #FFF;
				&:before {
					background-image: url('//192.168.1.45/Stott-and-May/img/title-dotted-lines-white.png');
				}
			}
		}
		.content {
			ol {
				margin: 0;
				counter-reset: item;
    		position: relative;
				li {
					display: block;
					&:before {
						content: counter(item) ". ";
				    counter-increment: item;
				    color: $color__primary;
				    position: absolute;
				    left: 0;
					}
				}
			}
			&.light {
				color: #FFF;
				.hero-btn {
					border-color: #ffffff;
    			color: #ffffff;
					&:hover {
						border-color: #FFF;
						color: #d5137c;
					}
					&:after {
						background-color: #FFF;
						background: #FFF;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-lg) {
	.slanted-container {
		.slanted-image {
			&:after {
				right: -107px;
			}
		}
		.content-container {

		}
	}
}

/*---------------------------------
CHARTS COMPONENT
---------------------------------*/
.chart-container {
	padding-top: 100px;
	padding-bottom: 100px;
	.light {
		.star_title {
			color: #FFF;
		}
		.stars {
			.icon-star {
				color: #FFF;
			}
		}
	}
	.chart-title {
		padding-bottom: 30px;
		text-align: center;
		font-size: 44px;
		&.light {
			color: #FFF;
			font-weight: 700;
		}
	}
	.star_title {
		text-align: center;
	}
	.stars {
		margin-top: 40px;
    text-align: center;
		.icon-star {
			font-size: 36px;
		}
		&.one_star {
			.icon-star {
				&:nth-child(-n+1) {
					color: yellow;
				}
			}
		}
		&.two_star {
			.icon-star {
				&:nth-child(-n+2) {
					color: yellow;
				}
			}
		}
		&.three_star {
			.icon-star {
				&:nth-child(-n+3) {
					color: yellow;
				}
			}
		}
		&.four_star {
			.icon-star {
				&:nth-child(-n+4) {
					color: yellow;
				}
			}
		}
		&.five_star {
			.icon-star {
				&:nth-child(-n+5) {
					color: yellow;
				}
			}
		}
	}
	.wrapper {
		width: 100%;
		height: 100%;
		margin: auto;
		text-align: center;
		position: relative;
		.container {
			flex: 1;
			padding: 0 20px;
		}
		h4 {
			color: #fff;
	    position: absolute;
	    width: 50%;
	    top: 65%;
	    left: 50%;
	    transform: translate(-50%, -50%);
		}
		&.light {
			.container.chart {
				text {
		    	fill: #FFF;
				}
			}
			h4 {
				color: #FFF;
			}
			h6 {
				color: #FFF;
			}
		}
	}
}

@media (max-width: $breakpoint-lg) {
	
}
